
/* Medium devices (desktops, 992px and up) */
#logo {
    width: 35px;
    height: 35px;
    padding-top: 0;
    box-shadow: 0 0 5px #fff;
    background-color: #eee;
    border-radius: 3px;
    margin-top: -7px;
}
#page-actions {
    margin-top: -50px;
    margin-bottom: 0px;
    text-align: right;
    display: none;
}
#page-actions .fa {
    color: lightgray;
    font-size: 1.3em;
}

#page-actions .text-success .fa {
    color: lightgreen;
    text-shadow: 0 0 3px #eee;
}

@media all and (min-width: 992px) {
    .column-content p{
/*        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-width: 15px;
        -moz-column-width: 15px;
        column-width: 15px;
        -webkit-column-gap: 15px;
        -moz-column-gap: 15px;
        column-gap: 15px;*/
    }
}
